body {
  text-align: center;
  background-color: black;
  color: white;
  font-family: monospace;
}

table {
  width: 100%;
  height: 100%;
  border-spacing: 20px;
  color: limegreen;
}

button, input[type=submit] {
  background: transparent;
  cursor: pointer;
  color: lawngreen;
  border-color: green;
}

select {
  background-color: transparent;
  color: limegreen;
  cursor: pointer;
  border-color: darkgrey;
  width:522px;
}

option[disabled] {
  color:darkgreen;
  cursor: not-allowed;
}

.edge {
  position: absolute;
  right: 2%;
  width: 250px;
  border: 2px solid lawngreen;
  cursor: default !important;
}
